html {
    justify-content: center;
    align-items: center;
}
body {
    max-width: 375px;
}

h3 {
    display: flex;
    text-decoration: bold;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-family: 'teko', sans-serif;
}
.topNav {
    background-color: #8FD9A8;
    padding-top: 15px;
    padding-bottom: 5px;
}
.input-group {
    padding-left: 10px;
    padding-right: 10px;
}
.input-group img {
    padding: 5px;
}
h1 {
    font-size: 24px;
    padding-left: 20px;
}
.categories {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.categoryItem img{
    background-color: aquamarine;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border-width: 5px;
}
.categoryItem h2 {
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.subHead {
    padding-left: 20px;
}
.prevpurchCard {
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
}
.ppcardLeft {
    width: 100px;
    height: 100px;
}
.ppcardRight {
    padding-left: 5px;
}
#reviewButton {
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1E9261;
    color: #ffffff;
    letter-spacing: 0.05em;

}
#carouselExampleCaptions {
    width: 375px;
    height: auto;
    padding: 20px;
}
.footNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
footer {
    max-width: 375px;
    position: absolute;
    align-items: center;
    justify-content: center;
}
body {
    max-width: 375px;
    
}
h4 {
    font-size: 18px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    color: #9C9A9A;
}
p {
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.logo {
    animation: 6s;
}

@keyframes logo {
    from {
        transform: translate3d(0px, 0px, 0px);
      }
      25% {
        transform: translate3d(50px, 25px, 0px);
      }
      50% {
        transform: translate3d(100px, 50px, 0px);
      }
      75% {
        transform: translate3d(200px, 100px, 0px);
      }
      to {
        transform: translate3d(0px, 0px, 0px);
      }
}